@font-face {
  font-family: StardosStencil;
  font-weight: 700;
  src: url("StardosStencil-Bold.woff2") format("woff2"),
    url("StardosStencil-Bold.woff") format("woff"),
    url("StardosStencil-Bold.ttf") format("truetype");
}
@font-face {
  font-family: StardosStencil;
  font-weight: 400;
  src: url("StardosStencil-Regular.ttf") format("woff2"),
    url("StardosStencil-Regular.woff") format("woff"),
    url("StardosStencil-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url("Poppins-Regular.woff2") format("woff2"),
    url("Poppins-Regular.woff") format("woff"),
    url("Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url("Poppins-SemiBold.ttf") format("woff2"),
    url("Poppins-SemiBold.woff") format("woff"),
    url("Poppins-SemiBold.ttf") format("truetype");
}

:root {
  --color-bg: #fcf6f0;
  --color-bg-dark: #242020;
  --color-link: #fff;
  --color-link-active: #800;
  box-sizing: border-box;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: StardosStencil, serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

a:link,
a:visited {
  color: var(--color-link);
}
a:active {
  color: var(--color-link-active);
}

header {
  background-color: var(--color-bg-dark);
  color: white;
  padding-block: 2rem;
  margin-block-end: 2rem;
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
}

h1 > span {
  white-space: nowrap;
}

.subhead {
  font-weight: 400;
}

nav > ul {
  list-style: none;
  padding-inline: 0;
  margin: 0;
}

nav a {
  padding-block: 0.5rem;
  display: inline-block;
}

@media (min-width: 70rem) {
  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    padding-block-start: 2.5rem;
    width: 10rem;
    padding-inline: 2rem;
    height: 100vh;
    background-color: var(--color-bg-dark);
    --color-link: #fff;
    --color-link-active: #a88;
    color: white;
  }
  nav > ul {
    margin-block-end: 2rem;
  }

  nav>img {
    margin-block: auto 2rem;
  }

  header,
  .content {
    margin-inline-start: 10rem;
  }
  .black-logo {
    display: none;
  }
}
@media (max-width: 70rem) {
  nav {
    display: flex;
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 2rem;
    --color-link: currentColor;
    --color-link-active: #a88;
  }
  nav > ul {
    display: flex;
    margin-inline: -1rem;
  }
  nav > ul > li {
    padding-inline: 1rem;
  }
  nav > img {
    display: none;
  }

  .black-logo {
    display: block;
    margin-inline: auto;
  }
}

main {
  --color-link: #600;
  --color-link-active: #800;
  max-width: 50rem;
  margin-inline: auto;
  padding: 2rem;
}

strong {
  text-transform: uppercase;
  font-weight: 600;
}

.round-border {
  border-radius: 100vw;
  border: 1px solid white;
  margin-inline: -1.5em;
}

.skip-to-link {
  opacity: 0;
  position: absolute;
  border-radius: 100px;
  height: 3rem;
  padding: 0.5rem;
  background-color: var(--color-bg);
}
.skip-to-link:focus {
  opacity: 1;
}
